* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}
/* RWD */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin: 10px 0;
    }

    .slogan {
        margin: 10px 0;
    }

    .container{
        margin-left: 20%;
    margin-right: 20%;
      }
}
/*header開始*/
header {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1); 
    
}
.logo {
    height: auto; /* RED高度 */
    width: 80px; /* 固定width */
    margin-left: 20px;
}

.slogan {
    font-size: 24px;
}

.login-button {
    background-color: rgb(201, 204, 206);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin-right: 20px;
    border: none; 
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.login-button a {
    text-decoration: none; 
    color: rgb(0, 0, 0);
}
/*header結束*/
/*背景斜線、縮開始*/
.back-line {
    background: repeating-linear-gradient(-45deg, transparent, transparent 17px, rgba(245, 235, 255) 10px, rgba(245, 235, 255) 20px);
    height: 170vh;/*長度*/
    margin-top: -30px; 
    z-index: -10000000000;
}
.container{
margin-left: 20%;
margin-right: 20%;
}
/*背景斜線、縮結束*/

/* 按鈕開始 */
.buttontwice {
display: flex;
justify-content: center;
flex-wrap: wrap; 
padding: 20px; 
margin-top: 40px;
}
p.buttonfont{
font-size: 25px;
letter-spacing: 3px;
text-align: center;
text-decoration: none;
}
.buttontwice-1,
.buttontwice-2,
.buttontwice-3,
.buttontwice-4 {
text-align: center;
width: 25%; 
margin: 0 10px; 
flex: 1;
max-width: 200px; 
}

.button1,
.button2,
.button3,
.button4{
display: flex; 
align-items: center;
padding: 7px 15px;
cursor: pointer;
outline: none;
color: rgb(0, 0, 0);
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
margin: 0 auto; /* 鈕中間 */
}
.button1{background-color: #F89B82;}
.button2{background-color: #FFD875;}
.button3{background-color: rgb(227, 239, 255);}
.button4{background-color: rgb(172, 212, 189);}

.button1:hover{background-color: #fc592c;opacity: 0.8;}
.button2:hover{background-color: #fac130;opacity: 0.8;}
.button3:hover{background-color: rgb(174, 208, 253);opacity: 0.8;}
.button4:hover {background-color: rgb(136, 212, 169);opacity: 0.8;}

.button1:active{background-color: #fc592c;box-shadow: 0 5px #666;transform: translateY(4px);}
.button2:active{background-color: #fac130;box-shadow: 0 5px #666;transform: translateY(4px);}
.button3:active{background-color: rgb(174, 208, 253);box-shadow: 0 5px #666;transform: translateY(4px);}
.button4:active {background-color: rgb(136, 212, 169);box-shadow: 0 5px #666;transform: translateY(4px);}
img.icon{height: 35px;margin-top: 3px;}


/* 固定鈕 */
.fixed-button {
position: fixed;
right: 180px;
bottom: 20px; 
background-color: rgb(231, 191, 156);
color: rgb(0, 0, 0);
width: 100px;
height: 100px;
border-radius: 50%;
text-align: center;
line-height: 30px;
font-size: 20px;
cursor: pointer;
box-shadow: 0 5px #999;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; /* 垂直居中 */
}
.fixed-button:hover {background-color: rgb(235, 166, 107);opacity: 0.8;}
.fixed-button:active{background-color: rgb(235, 166, 107);box-shadow: 0 5px #666;transform: translateY(4px);}
/* 按鈕結束*/

/* 選擇日期開始 */
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-range-selection {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; /* 调整间距 */
    font-size: 22px;
    background-color: rgb(202, 219, 239);
    color: rgb(56, 85, 148);
    border-radius: 30px;
    padding: 15px 0px 15px 0px;
}

#date-range {
    padding: 5px;
}

.time {
    text-decoration: none;
    color: rgb(56, 85, 148);
    
    border-radius: 30px;
    padding: 15px 18px 15px 18px;
    cursor: pointer;
    transition: background-color 0.3s; /* 添加背景颜色过渡效果 */
}

.time:hover,
#last-month.active,
#last-three-months.active,
#last-year.active,
#custom.active {
    background-color: rgb(83, 113, 187);
    color: black;
}

.input-container {
    display: flex;
    flex-direction: row; /* 使两个input元素水平排列 */
}

input[type="date"] {
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 2px 2px #888888 inset;
    margin-right: 10px; /* 调整间距 */
}

.line{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
}

/* 選擇日期結束 */

/* 我的保單框架開始*/
.myinsurance{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.previousround,.nextround {
    text-decoration: none;
    display: inline-block;
    padding: 8px 18px;
  }
  
.previousround,.nextround:hover {
    background-color: #ddd;
    color: black;
  }
  
.previousround {
    background-color: white;
    font-size: 24px;
    color: black;
    border-radius: 50%;
    margin-top: 400px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }
  
.nextround {
    background-color: white;
    font-size: 24px;
    color: black;
    border-radius: 50%;
    margin-top: 400px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
  }

.title{
    background-color: rgb(180, 214, 237);
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 11px;
  }
  
.content{
    margin-top: 33px;
    border-top: 0px;
    background-color: rgb(255, 248, 232);
    width: 750px;
    box-shadow:10px 10px 5px 6px #cccccc ;
  }

/* 我的保單框架結束*/

.row {
    display: flex;
    justify-content:center;
    margin-top: -10px; /* 調整行的上邊距 */
    margin-bottom: -35px; /* 調整行的下邊距 */
}

.box {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid #0e0e0e;
    background-color: rgb(255, 255, 255);
    margin: 70px; /* 框距 */
}

.box .person {
    height: 75px;
    margin-right: 40px; /* 圖文距 */
}

.box-text {text-align: left;}
.box p {font-size: 23px;}
.box p1 {font-size: 26px;}
.column {
    width: 37%; /* 欄寬度均分 */
    float: left; 
    padding: 10px; 
    margin-left: 9%;
    box-sizing: border-box; /* 使內邊距和邊框不影響欄的寬度 */
  }
  .column1 {
    width: 36%; /* 欄寬度均分 */
    float: left; 
    padding: 10px; 
    margin-left: 13%;
    margin-right: -4%;
    box-sizing: border-box; /* 使內邊距和邊框不影響欄的寬度 */
  }
  .row2 {
    margin-top: -10px; 
    margin-bottom: 0px; 
}
  /* 清除浮動以確保父元素包含兩個欄 */
.row2::after {
    content: "";
    clear: both;
    display: table;
  }
  .row3 {
    margin-top: 5px; 
    margin-bottom: 0px; 
}
  /* 清除浮動以確保父元素包含兩個欄 */
.row3::after {
    content: "";
    clear: both;
    display: table;
  }
  h2.sur{
    margin-bottom: 17px;
    margin-left: 10.5%;
  }
.contentsize{
    margin-top: -5px;
    font-size: 13px;
}
.column h2,
.column1 h2  {
    margin-bottom: 10px; 
}